<footer class="footer-app">
    <a href="/service/manageCard"><i class="fa fa-credit-card"></i>Cards</a>
    <a href="/service/quickPay" style="margin-top: -50px;"><i class="fas fa-qrcode fa-2x" aria-hidden="true"></i>Quick Pay</a>
    <a href="/help"><i class="fa fa-question"></i>Help</a>
   
</footer>