<div class="container-fluid">
    <div class="row" style="background-color: #131415;">
        <div class="col-md-12">
            <p class="top-nav"><a href="/dashboard" class="back-btn"><i class="fas fa-arrow-left"></i></a>| <span>Support Center</span></p>
        </div>
    </div>
</div>
<%- include('../partials/stick.ejs');  %> 