<div class="container-fluid">
    <div class="row" style="background-color: #131415;">
        <div class="col-md-12">
            <p class="top-nav"><a href="/dashboard" class="back-btn"><i class="fas fa-arrow-left"></i></a>| <span>Transactions</span></p>
        </div>
    </div>

   <div class="row white-text">
        <div class="transaction-dev mt-2" style="padding:20px;" >
            <div class="trn-header">
                <p>From 888909088</p>
            </div>

            <div class="trn-body">
                Payment ayment ayment ayment ayment 
                ayment ayment ayment ayment ayment 
            </div>

            <div class="trn-footer">
                
            </div>
        </div>

        <div class="transaction-dev mt-2" style="padding:20px;" >
            <div class="trn-header">
                <p>From 90978896</p>
            </div>

            <div class="trn-body">
                Payment ayment ayment ayment ayment 
                ayment ayment ayment ayment ayment 
            </div>

            <div class="trn-footer">
                
            </div>
        </div>

        <div class="transaction-dev mt-2" style="padding:20px;" >
            <div class="trn-header">
                <p>From 888909088</p>
            </div>

            <div class="trn-body">
                Payment ayment ayment ayment ayment 
                ayment ayment ayment ayment ayment 
            </div>

            <div class="trn-footer">
                
            </div>
        </div>

        <div class="transaction-dev mt-2" style="padding:20px;" >
            <div class="trn-header">
                <p>From 888909088</p>
            </div>

            <div class="trn-body">
                Payment ayment ayment ayment ayment 
                ayment ayment ayment ayment ayment 
            </div>

            <div class="trn-footer">
                
            </div>
        </div>

        <div class="transaction-dev mt-2" style="padding:20px;" >
            <div class="trn-header">
                <p>From 888909088</p>
            </div>

            <div class="trn-body">
                Payment ayment ayment ayment ayment 
                ayment ayment ayment ayment ayment 
            </div>

            <div class="trn-footer">
                
            </div>
        </div>

        <div class="transaction-dev mt-2" style="padding:20px;" >
            <div class="trn-header">
                <p>From 888909088</p>
            </div>

            <div class="trn-body">
                Payment ayment ayment ayment ayment 
                ayment ayment ayment ayment ayment 
            </div>

            <div class="trn-footer">
                
            </div>
        </div>

        <div class="transaction-dev mt-2" style="padding:20px;" >
            <div class="trn-header">
                <p>From 888909088</p>
            </div>

            <div class="trn-body">
                Payment ayment ayment ayment ayment 
                ayment ayment ayment ayment ayment 
            </div>

            <div class="trn-footer">
                
            </div>
        </div>
       

   </div>
</div>
<%- include('../partials/stick.ejs');  %> 