<div class="container">
    <div class="row mt-5 pl-4 justify-content-center">
        <div class="col-md-4">
            <a class="grey-text" href="/auth/logout"><i class="fas fa-power"></i>Logout</a>
        </div>
    </div>
</div>