<div class="container-fluid">
    <div class="row">
        <div class="col-md-12  dashboard-header">
            <a class=" font-weight-bold" href="#"><i class="fas fa-bars"></i></a>
            <img src="/images/jPay.jpg" >
            <a class=" font-weight-bold" href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 balance">
           <span>Welcome! <h4>Abdullahi jafar Musa</h4></span>
          
           <h6>N 500,000.09 </h6>
           
        </div>
    </div>
 

    <div class="row">
        <div class="col-md-12 menu">
                <p class="menu-p"><a href="#">Main menu</a>| <a href="#">Transactions</a>| <a href="#">What's new</a></p>
                <hr class="" style="margin-top: -20px;">   
        </div>
    </div>

    <div class="row menu service">
        <div class="col-md-4 col-6 col-sm-3">
            <a href="/service/sendmoney"><i class="fas fa-wallet"></i>SEND MONEY</a> 
        </div>

        <div class="col-md-4 col-6 col-sm-3" >
            <a href="/service/sendmoney"><i class="fas fa-money-bill-wave-alt"></i>PAY BILLS</a>
        </div>

        <div class="col-md-4 col-6 col-sm-3" >
            <a href="/service/sendmoney"><i class="fas fa-mobile-alt"></i>MOBILE LOAD</a>
        </div>

        <div class="col-md-4 col-6 col-sm-3" >
            <a href="/service/sendmoney"><i class="fas fa-money-bill"></i>PAYMENT</a> 
        </div>

        <div class="col-md-4 col-6 col-sm-3" >
            <a href="/service/sendmoney"><i class="fas fa-handshake"></i>REQUEST MONEY</a>
        </div>

        <div class="col-md-4 col-6 col-sm-3" style="margin-bottom: 40px;" >
            <a href="/service/sendmoney"><i class="fas fa-user-circle"></i>INVITE FRIENDS</a>
        </div>
        
      </div>
    
</div>

<%- include('../partials/stick.ejs');  %> 