<div class="container-fluid">
    <div class="row">
        <div class="col-md-12  dashboard-header">
            <a class=" font-weight-bold" href="#"><i class="fas fa-bars"></i></a>
            <img class="animate__animated animate__swing" src="/images/jPay.jpg" >
            <a class=" font-weight-bold" href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 balance">
           <span>Welcome! <h4>Abdullahi jafar Musa</h4></span>
          
           <h6>N 500,000.09 </h6>
           
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <p class="menu-p"><a href="/dashboard">Main menu</a> | <a href="/service/transaction">Transactions</a> | <a href="/service/update">What's new</a></p>
        </div>
    </div>
    
    <div class="row service animate__animated animate__rotateIn ">
        <div class="col-md-4 col-4 mb-5">
            <center><a href="/service/sendmoney"><img src="/images/icons/sendmoney.jpg" ></a></center> 
        </div>

        <div class="col-md-4 col-4 mb-5" >
            <center><a href="/service/sendmoney"><img src="/images/icons/paybill.jpg" ></a></center>
        </div>

        <div class="col-md-4 col-4 mb-5" >
            <center><a href="/service/sendmoney"><img src="/images/icons/payment.jpg" ></a> </center>
        </div>

        <div class="col-md-4 col-4" >
            <center><a href="/service/sendmoney"><img src="/images/icons/rmoney.jpg" ></a></center>
        </div>
        <div class="col-md-4 col-4"  >
            <center><a href="/service/sendmoney"><img src="/images/icons/invite.jpg" ></a></center>
        </div>
       
    </div>
   
</div>

<%- include('../partials/stick.ejs');  %> 