<div class="container-fluid">
    <div class="row" >
        <div class="col-md-12" style="display: flex; align-items: center; justify-content: space-between;">
            <a></a>
            <a style="padding-top:5px; color:white" href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12  logo-banner">
            <img class="animate__animated animate__swing" src="/images/jPay.jpg" >
        </div>
    </div>
 
    <div class="row">
        <div class="col-md-12 balance white-text">
            <a href="/services/wallet-profile" class="white-text"><i class="fa fa-user fa-3x"></i></a>
           <% walletinfo.forEach((wallet)=>{ %>
            <span>Account Number: <%= wallet.wallet %> </span>
            <h6><span>Bal: <span> &#8358; </span> </span> <%= (wallet.fund).toFixed(2) %>  </h6>
           <% }) %>   
          
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 top-wallet">
            <a href="/services/top-up" style="border-radius: 19px;" class="btn btn-orange waves-effect btn-sm font-weight-bold "><i class="fas fa-caret-up fa-2x"></i> Fund Wallet</a>
            <a href="/services/cash-out" style="border-radius: 19px;" class="btn btn-green waves-effect btn-sm font-weight-bold "><i class="fas fa-caret-down fa-2x "></i>Wallet Cash-Out</a>
            
        </div>
    </div>

    
    <div class="row ">
        <div class="col-md-12">
            <p class="menu-p"><a style="color: #ff6a14;" href="/dashboard">Main menu</a> | <a href="/services/transactions">Transactions</a> | <a href="/services/update">What's new</a></p>
        </div>
    </div>
    
    
    <div class="row service animate__animated animate__rotateIn ">
        <div class="col-md-4 col-4 mb-5">
            <center><a href="/services/sendmoney"><img src="/images/icons/sendmoney.jpg" ></a></center> 
        </div>

        <div class="col-md-4 col-4 mb-5" >
            <center><a href="/service/sendmoney"><img src="/images/icons/paybill.jpg" ></a></center>
        </div>

        <div class="col-md-4 col-4 mb-5" >
            <center><a href="/service/sendmoney"><img src="/images/icons/payment.jpg" ></a> </center>
        </div>

        <div class="col-md-4 col-4" >
            <center><a href="/service/sendmoney"><img src="/images/icons/rmoney.jpg" ></a></center>
        </div>

        <div class="col-md-4 col-4" >
            <center><a href="/service/sendmoney"><img src="/images/icons/airtime.jpg" ></a></center>
        </div>

        <div class="col-md-4 col-4"  >
            <center><a href="/service/sendmoney"><img src="/images/icons/invite.jpg" ></a></center>
        </div>
       
    </div>
   
</div>

<%- include('../partials/stick.ejs');  %> 