<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pt-2 logo-banner">
            <img class="animate__animated animate__swing" src="/images/jPay.jpg" >
        </div>
    </div>
 
    <div class="row">
        <div class="col-md-12 balance white-text">
            <span><i class="fa fa-user fa-3x"></i></span>
           <% walletinfo.forEach((wallet)=>{ %>
            <span>Acc Number: <%= wallet.wallet %> </span>
           <% }) %>   
           <h6><span>Bal:</span> N 500,000.09 </h6>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 top-wallet">
            <a href="#" style="border-radius: 19px;" class="btn btn-orange waves-effect  ">Top-up<i class="fas fa-upload"></i></a>
            <a href="#" style="border-radius: 19px;" class="btn btn-green waves-effect  ">Cash-Out<i class="fas fa-download"></i></a>
            
        </div>
    </div>

    
    <div class="row ">
        <div class="col-md-12">
            <p class="menu-p"><a style="color: #ff6a14;" href="/dashboard">Main menu</a> | <a href="/service/transaction">Transactions</a> | <a href="/service/update">What's new</a></p>
        </div>
    </div>
    
    
    <div class="row service animate__animated animate__rotateIn ">
        <div class="col-md-4 col-4 mb-5">
            <center><a href="/service/sendmoney"><img src="/images/icons/sendmoney.jpg" ></a></center> 
        </div>

        <div class="col-md-4 col-4 mb-5" >
            <center><a href="/service/sendmoney"><img src="/images/icons/paybill.jpg" ></a></center>
        </div>

        <div class="col-md-4 col-4 mb-5" >
            <center><a href="/service/sendmoney"><img src="/images/icons/payment.jpg" ></a> </center>
        </div>

        <div class="col-md-4 col-4" >
            <center><a href="/service/sendmoney"><img src="/images/icons/rmoney.jpg" ></a></center>
        </div>

        <div class="col-md-4 col-4" >
            <center><a href="/service/sendmoney"><img src="/images/icons/airtime.jpg" ></a></center>
        </div>

        <div class="col-md-4 col-4"  >
            <center><a href="/service/sendmoney"><img src="/images/icons/invite.jpg" ></a></center>
        </div>
       
    </div>
   
</div>

<%- include('../partials/stick.ejs');  %> 