<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %> 
<link rel="manifest" href="./manifest.json">
<body>
    <div class="container ">
        <div class="row">
           
        </div>
       
    </div>
    <%- body %> 

    <%- include('./partials/footer.ejs') %> 
</body>
</html>