.sendmoney{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-next{
   display: flex;
   justify-content: space-around; 
}
.btn-next a i{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-next button i{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 19px;
    background-color: #131415;
    margin: 20px;
    margin-top: 70px;
    padding-bottom: 20px;
}
.transaction-dev{
    border-radius: 19px;
    background-color: #131415;
    margin-left: 10px;
    margin-right: 10px;
}