*{
    text-decoration:none;
}
body{
    background-color:#0a0112;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 120px;
}
.login-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    display: flex;
    flex-direction: column; 
}
#formInput input:focus{
    border-color: #ff6a14; 
    box-shadow: none;
   -webkit-box-shadow:none;
}
#formInput input{
    
}
#formInput label{
    color:#ff6a14;  
}
#formInput i{
    color:#ff6a14;
}
#formInput input{
    color: white;
}
#formInput button {
    border-radius: 19px;
    background-color:#ff6a14;
}
#formInput a{
    border-radius: 19px;
    background-color:#ff6a14;
}
hr{
    border-color: grey;
}

.dashboard-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a0112;
}
.logo-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-banner img{
    height: 90px;
    
}
.dashboard-header a{
    color: white;
}
.balance{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    color: grey;
    height: 250px;
}

.service img{
    height: 60px;
    width: 80px;
}
.service{
    border: 1px solid grey;
    border-radius: 19px;
    margin:5px;
    padding: 10px;
}
.menu-p{
    display: flex;
    justify-content: space-between;
    color: #ff6a14;
}
.menu-p a{
    color: grey;
}

.active{
    color: #ff6a14;
}

/*media query styling below*/
@media(min-width:768px){
    .container{
         max-width: 400px;
         margin: auto;
    }
}