<div class="container-fluid">
    <div class="row" style="background-color: #131415;">
        <div class="col-md-12">
            <p class="top-nav"><a href="/dashboard" class="back-btn"><i class="fas fa-arrow-left"></i></a>| <span>Send Money</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 error">
            <i class="fas fa-window-close fa-3x" style="color:#ff6a14;"></i>
            <h3  style="color: #ff6a14;"><%= info %> </h3>
            <div class="mt-5">
                <a href="/services/transfer/jpay/" style="border-radius: 19px;" class="btn btn-danger">Back</a>
            </div>
        </div>
    </div>
</div>