<div class="container-fluid">
    <div class="row" style="background-color: #131415;">
        <div class="col-md-12">
            <p class="top-nav"><a href="/dashboard" class="back-btn"><i class="fas fa-arrow-left"></i></a>| <span>Send Money</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 " style="margin-top: 70px; display: flex; align-items: center; justify-content: center;">
            <div class="account-details">
                <p class="grey-text text-center">Enter Account Number</p>
                <form id="formInput" action="/services/transfer/jpay" method="POST">
                    <div class="md-form md-outline input-with-post-icon">
                        <i  class="fas fa-id-card  input-prefix"></i>
                        <input type="text" id="suffixInside1" required name="accnumber" class="form-control">
                        <label  for="suffixInside1">Account Number</label>
                      </div>
    
                      <div class="btn-next">
                        <a href="/dashboard" class="btn btn-danger waves-effect font-weight-bold"><i class=" white-text fas fa-window-close fa-2x "></i>CANCEL</a>  
                        <button class="btn btn-green waves-effect font-weight-bold"><i class=" white-text fas fa-arrow-right fa-2x "></i>NEXT</button>
                      </div>
    
                     
        
                </form>
                <div class="mt-5">
                    <h4 class="red-text text-center"><%= info %> </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/stick.ejs');  %> 
