<div class="container-fluid">
    <div class="row" style="background-color: #131415;">
        <div class="col-md-12">
            <p class="top-nav"><a href="/dashboard" class="back-btn"><i class="fas fa-arrow-left"></i></a>| <span>Send Money</span></p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3 style='color:#ff6a14' class="text-center">Select Transfer Destination</h3>
            <hr class="my-1">
            <div class="sendmoney">
                <a href="/services/transfer/jpay" class="btn btn-orange waves-effect font-weight-bold">JurisPay Account</a>
                <a href="/services/transfer/externalbank" class="btn btn-green font-weight-bold waves-effect">External Banks</a>
            </div>
        </div>
    </div>

   
</div>
<%- include('../partials/stick.ejs');  %> 