<div class="container-fluid">
    <div class="row" style="background-color: #131415;">
        <div class="col-md-12">
            <p class="top-nav"><a href="/dashboard" class="back-btn"><i class="fas fa-arrow-left"></i></a>| <span>Send Money</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 error">
            <i style="color:#dc3545; margin-top:-20px;" class="fas fa-window-close fa-3x"></i>
            <h3  style="color: white" class="text-center"><%= info %> </h3>
            <div class="mt-5 btn-next">
                <a href="/dashboard" style="border-radius: 19px;" class="btn btn-danger"><i class=" white-text fas fa-arrow-left fa-2x "></i>Back</a>
            </div>
        </div>
    </div>
</div>